<!-- 

<div>
    <header>
        <h1 class="">
            Child 1 says: 
        </h1>
    </header>
    <div class="">
        <form>
            <div>
                <label for="child-input">Send A Message To Dad</label><br>
                <input (keyup)="updateModel($event)" 
                type="text" 
                name="msgToDad" 
                id="child-input">
            </div>
          
            <div>
                <input type="submit" value="Send" (click)="sendToParent()">
            </div>
        </form>
        
    </div>
</div> -->
