<!-- <app-child1 (messageToParent)= "msgFromChild($event)"></app-child1> -->
<div class="row justify-content-center d-flex mt-2 m-auto bg-light text-center ">
  <div class="col-8">
      <form>
          <app-name></app-name>
          <app-city></app-city>
          <app-shipping-address></app-shipping-address>
          <app-aristotle-quote></app-aristotle-quote>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

  <div class="col-8">
      <h3 class="py-5">Display</h3>
  </div> 
</div>
